<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ramit Sharma</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">

              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#app">Interests</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#Publications">Publications</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/image.jpeg" alt="Image"/></a></div>
          <div class="h2 title">Ramit Sharma</div>
          <p class="category text-white"></p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='curriculum_vitae.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" target = "_blank" href="https://www.facebook.com/RAMITSHARMA.0007" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://twitter.com/ssramitsharma" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/ssramitsharma" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/ssramitsharma" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p> I have an experience of 3 years in the field of machine learning.
              In my university I woked on a project on Natural Language inference.
              In this  project we compared the performance of attention based model
               with Recurrent Neural Networks(RNNs).
              I worked on stock market prediction using  two variants of RNNs
              namely Long Short Term Memory(LSTM) and Gated Recurrent Unit(GRU)
              as well as classical machine learning approaches.I also created
            automatized test cases for portfolio optimization. At Audi AG my
          job was to deveop a software that optimizes the production of cars. At Fraunhofer IAIS my job was to
          detect lesions in 3D CT scans. I also analysed the impact of resolution of images on speed and accuracy of
          models.
  </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>

            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">ssramitsharma@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+4915217626531</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Endenicher Allee 17, 53115 Bonn, Germany</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English, Hindi, Nepali</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <b>Programming Languages:</b> Python, Matlab, C++, Java<br><br>
        <b>Python libraries:</b> Numpy ,Pandas ,Scipy ,Tensorflow,Keras ,Pytorch,Tkinter ,Scikit-learn , Matplotlib,OpenCV ,Os,
PIL, Pydicom, NLTK, Spacy,Gensim<br><br>
        <b>Database Management Systems:</b> MySQL<br><br>
        <b>Internet Technologies:</b> Flask, HTML, CSS,Heroku <br>
        <b>Development tools:</b> Sublime text, Eclipse, Codeblocks,PyCharm,Atom,Jupyter Notebook,Spyder <br>
        <b>DevOps:</b> Git,Docker  <br>
        <b>Experience of training deep learning models on GPU cluster</b>

      </div>
    </div>
  </div>
</div>



<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>October 2020 - September 2021</p>
            <div class="h5">FRAUNHOFER IAIS, Sankt Augustin, Germany</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Research Assistant</div>
            <p>
              <ul>
                <li> Research on object detection in 3D CT scans</li>
                <li> Worked on three models of object detection namely RetinaNet,YOLOv3 and YOLOv5.</li>
                <li> Low resolution CT scans are quite benificial as it makes the entire process of scanning as well as detection faster.</li>
                <li> Hence we tried to find out the model that has the best accuracy at low resolution CT scans.</li>
                <li> We also analysed the impact of reducing resolution on both accuracy as well as speed of the models.</li>



              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>November 2019 - April 2020</p>
            <div class="h5">AUDI AG, Ingolstadt, Germany</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Digitization for industrial engineering intern</div>
            <p>
              <ul>
                <li>
                  Creation of concept and a structure for software within the Industrial Engineering</li>
  <li>Modeling components as a part of the digitization process</li>
  <li>Implementation of software that improves the comparison of different production scenarios</li>
  <li>Validation of results and optimization of the tools</li>
   <li>Creation of a user documentation</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>April 2019 - June 2019</p>
            <div class="h5">INSORO GMBH, Cologne, Germany</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Applied Machine Learning Intern</div>
            <p>
              <ul>
                <li>Utilization of Deep learning models(LSTM & GRU) in capital markets time-series prediction</li>
<li>Creation of automatized test cases for portfolio optimization</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2021</p>
            <div class="h5">Master's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Masters of Science in Autonomous Systems</div>
            <p class="category">HOCHSCHULE BONN-RHEIN-SIEG, Sankt Augustin, Germany</p>
            <p>Relevant Coursework: Artificial Intelligence, Neural Networks, Learning and Adaptivity, Computer vision, Natural Language Processing
            Advanced Software Technology, Mathematics for Robotics and Control, software Development Project</p>
            <p>
              <b>Projects:</b><br>
              <ul>
              <li>Recognizing Textual Entailment : Analysis of Deep Learning Models</li>
              <li>Object Detection in Dense Volume Data</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010 - 2014</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Engineering in Electrical and Electronics</div>
            <p class="category">RAMAIAH INSTITUTE OF TECHNOLOGY, Bengaluru, India</p>
            <p>Relevant Coursework: Fundamentals of Computing, Artificial Neural Networks, Nanotechnology, Logic desing, Microcontrollers - Programming and Interfacing</p>
            <p>
              <b>Projects:</b><br>
              <ul>
              <li>Estimation of Line Parameters of standard IEEE 14 Bus system</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="app">
      <div class="container">
        <div class="h4 text-center mb-4 title">Interests</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="card-body">
            <p>In my free time, I take online classes and teach python and machine learning to students. I became the mentor in the 3<sup>rd</sup> and 4<sup>th</sup> National Workshop On Machine Learning And Data Science. This workshop is conducted by the Machine Learning and Data Science Community Nepal. The details about the events can be found in this <a href="https://www.mldsn.org/">website</a>. In my free time, I also like to learn new things. To get a deeper understanding of how machine learning models could be deployed and used I developed a web application for sentiment analysis. This application uses a
    bag of words and a Naive Bayes classifier. It is deployed
    using the Heroku cloud application platform. The link to the application is given below:
      </p>
            <b>Link </b>   <a href="https://ssramitsharma.herokuapp.com/">Web Application</a>

          </div>
        </div>
      </div>
    </div>

    <div class="section" id="Publications">
      <div class="container">
        <div class="h4 text-center mb-4 title">Publications</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="card-body">
          <p><ul>
  <li>I am the second author of the paper ”Estimation of Line Parameters of an IEEE 14 Bus system” which was published in International Journal of Research and scientific Innovation in July 2014. The Journal could be accessed through this   <a href="https://www.rsisinternational.org/Issue2/14-16.pdf">link</a>.
</li>
<li>I am the co-author of the book ”Recurrent Neural Networks : Concepts and Applications” which is going to be published in
CRC press, USA.</li>
</ul></p>

          </div>
        </div>
      </div>
    </div>

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/images/map.jpeg')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="/sendemail/" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">

                            <button class="btn btn-primary" type="submit">Send</button>


                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Endenicher Allee 17, room no. 7415, 53115 Bonn</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+4915217626531</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>ssramitsharma@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" target="_blank" href="https://www.facebook.com/RAMITSHARMA.0007"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " target="_blank" href="https://twitter.com/ssramitsharma"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/akalla123"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" target="_blank" href="https://www.linkedin.com/in/
        kalla/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Ramit Sharma</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>
